name: Terraform

on:
  push:
    branches: [ '**' ]

jobs:
  build:
    uses: sil-org/workflows/.github/workflows/terraform.yml@main
    with:
      # validate with the earliest version allowed by required_version in terraform.tf
      terraform-version: '~> 1.2'
